{% extends "news_blog/base.html" %}

{% block title %} About {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                Диспе́рсия волн — в теории волн различие фазовых скоростей линейных волн в зависимости от их длины. Дисперсия волн приводит к тому, что волновое возмущение произвольной негармонической формы претерпевает изменения (диспергирует) по мере его распространения.
            </div>
        </div>
    </div>
{% endblock %}